*{
    margin: 0px;
    padding: 0px;
    color: rgb(149, 191, 204);
}

a{
    color: rgb(110, 250, 255);
}

#wrapper{
    background-color: rgb(16, 50, 102);
    padding: 10px;
    width: 970px;
}

#header{
    background-color: rgb(252, 45, 131);
    padding: 20px;
    border-radius: 5px;
}

#content, #nav{
    display: inline-block;
    border-radius: 10px;
    margin-top: 20px;
    padding: 10px;
}

#nav ul{
    padding-left: 15px;
    padding-top: 0px;
    padding-bottom: 0px;
}

#content ul{
    padding-left: 15px;
}

#content li{
    padding-bottom: 10px;
}

#content h2, #content p{
    padding-bottom: 10px;
}

#nav{
    background-color: teal;
}

#content{
    margin-left: 20px;
    background-color: rgb(9, 26, 49);
    width: 710px;
    vertical-align: top;
}

#content span{
    color: rgb(105, 124, 207);
}

#footer{
    background-color: grey;
    border-radius: 10px;
    padding: 10px;
    margin-top: 20px;
}

